{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="icon" href="{% static  'img/icon.ico' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/add.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple.io | Add</title>
</head>

<body>
    <h1 id="heading">Add tasks</h1>



    <div class="details">
        <hr>

        <form action="{% url 'items:add_item' %}" method="POST">
            {% csrf_token%}
            <!-- <label for="title">Title</label> -->
            <br>

            <input type="text" name="title" id="title" placeholder="Enter title..." required>
            <br>
            <br>


            <!-- <label for="body">Item Description</label> -->
            <br>
            <textarea name="body" id="body" placeholder="Description" required></textarea>
            <br><br>
            <input id="delete_button" type="submit" value="Submit task">

        </form>
        <a class="menu" id="go_back" href="{% url 'items:homepage' %}"><i class="fas fa-chevron-left"></i> <span></span>
            Go Back</a>


        <br>



        <br>


    </div>

</body>

</html>