{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1 id="title">{{list_item.title}}</h1>



    <div class="details">
        <hr>

        <h3> {{list_item.body}}</h3>

        <br>
        <p> by {{name}}
        </p>
        <p> created on {{list_item.time}}</p>


        <br>



        <br><br><br>


        <br>


        <a class="menu" id="add_item" href="{% url 'items:homepage' %}">Go Back</a>

        <br>

        <form action="{% url 'items:todo_delete' list_item.id %}" method="post">
            {% csrf_token %}
            <input id="delete_button" type="submit" value="Delete">
        </form>
    </div>
</body>

</html>