{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>This is sample content</h1>
    by {{name}}

    <p>You have {{length}} things to do</p>
    <a class="menu" id="add_item" href="{% url 'items:add_item' %}">Add Items</a>


    {% for item in list_items%}


    <a href="/item/{{item.id}}">
        <div class="card">
            <div class="container">

                <h3><b>{{item.title}}</b></h3>

                <p>{{item.body}}</p>
                <p>{{item.time | date}}</p>


            </div>
        </div>
    </a>




    {% endfor%}


</body>

</html>