<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>This is sample content</h1>
    by {{name}}

    <p>You have {{length}} things to do</p>

    {% for item in list_items%}

    <li> <a href="/item/{{item.id}}"> {{item.title}}</a></li>
    {% endfor%}

    <a href="{% url 'items:add_item' %}"> Add Items</a>

</body>

</html>