{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="icon" href="{% static  'img/icon.ico' %}" type="image/x-icon">


    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple.io | Home</title>
</head>

<body>

    <h1 id="logo">
        {% if user.is_authenticated %}

        <span> <a href="/logout"> <img id="logout" src="{% static  'img/logout.svg' %}" alt="Log out"></a></span>
        {% endif %}

        Simple.io</h1>
    <h1 id="tagline">Prioritizing tasks made simple...</h1>

    <h2 id="reminder">{{ user.username | title}}, you have {{length}} things to do!</h2>
    <a class="menu" id="add_item" href="{% url 'items:add_item' %}"><i class="fas fa-plus"></i> <span></span> Add Items</a>

    <div class="row">

        <div class="column1">
            <img src="{% static  'img/test.svg' %}" alt="templates">
        </div>

        <div class="column2">
            {% for item in list_items%}
            <a href="/item/{{item.id}}">
                <div class="card">
                    <div class="container">
                        <h3><b>{{item.title}}</b></h3>
                        <p>{{item.body}}</p>
                        <p>{{item.time | date}}</p>
                    </div>
                </div>
            </a>
            {% endfor%}
        </div>
    </div>

</body>

</html>