html {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 2px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook {
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 170px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    margin-top: 60px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    font-weight: 500;
    margin-left: 15%;
}

#twitter {
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 170px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    margin-top: 60px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    font-weight: 500;
    margin-left: 15%;
}

#facebook:hover {
    color: blue;
    background-color: white;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    transition: 0.3s;
}

#twitter:hover {
    color: blue;
    background-color: white;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    transition: 0.3s;
}




#title {
    font-family: 'Sniglet', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}

h3 {
    font-size: 28px;
}





.card {
    margin-top: 20vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    width: 40vh;
    border-radius: 5px;
    height: 40vh;
    border: 1px solid white;
}

/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
} */

body {
    background-image: linear-gradient(to right, #e53f9d, #d55bba, #c172d0, #ab86df, #9796e7, #8a9eea, #7fa5ec, #76aceb, #69afee, #59b2f0, #46b5f1, #2db8f1);
}

a {
    text-decoration: none;
    color: white;
}

h1,
h3 {
    text-decoration: none;
    color: white;
}

p {
    color: grey;
    color: white;


}