html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(to right, #e53f9d, #d55bba, #c172d0, #ab86df, #9796e7, #8a9eea, #7fa5ec, #76aceb, #69afee, #59b2f0, #46b5f1, #2db8f1);
}

#logo {
    font-family: 'Sniglet', cursive;
    font-size: 50px;
    color: white;
    text-align: left;
    margin-left: 1%;
}

#tagline {
    text-align: center;
    color: white;
}

#reminder {
    margin-left: 6%;
    color: white;
}

#logout {
    height: 35px;
    width: 35px;
    margin-right: 37vw;
}

#add_item {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 160px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    margin-right: 60px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    font-weight: 500;
    float: right;
}

#add_item:hover {
    color: blue !important;
    background-color: white !important;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    transition: 0.3s;
}



.column1 {
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-top: 2em;
    -ms-transform: rotate(-8deg);
    /* IE 9 */
    -webkit-transform: rotate(-8deg);
    /* Safari 3-8 */
    transform: rotate(-8deg);
}

.column1 img {
    width: 90%;
}

.column2 {
    float: left;
    width: 55%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 1em;
    border: 1px solid grey;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: grey;
    color: white;
}

.container {
    padding: 2px 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .column1 {
        display: none;
    }

    .column2 {
        width: 90%;
        margin-top: 1em;
    }

    #add_item {
        margin-top: 1em;
    }

    #logout {
        height: 35px;
        width: 35px;
        /* display: inline-block; */
        margin-right: 15vw;
    }
}